# Extensionless files
*
!*/
!*.*
!Makefile
!LICENSE

# Exectuables and debug files.
*.exe
*.dSYM
*.stackdump

# Visual debugger configurations
.vscode/
.vs/
*.vcxproj
*.vcxproj.*
*.xcodeproj/

# Output files
*.log
*.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e
